In [38]:
import pandas as pd
import os

In [43]:
len('GDP.csv')

7

In [58]:
file_list, csv_file = os.listdir(), list()

for file in file_list:
    if len(file) == 6:
        csv_file.append(file)

In [94]:
for i,file in enumerate(csv_file):
    firm = file.split('.')[0]
    df = pd.read_csv(file, header = 7)
    df = df.iloc[:,1:].set_index('감사의견')
    df = df.loc['매출총이익(손실)']
    df = df.reset_index().drop('index', axis = 1)
    df.columns = [f'{firm}매출총이익(손실)']
    df[f'{firm}매출총이익(손실)'] = df[f'{firm}매출총이익(손실)'].str.replace(',','').str.replace('.','')
    df.astype(float)
    if i == 0:
        df_merge = df
    elif i < len(csv_file):
        df_merge = df.merge(df_merge, left_index = True, right_index=True, how='outer')
    else:
        pass

In [95]:
df_merge

    안진매출총이익(손실)   삼정매출총이익(손실)   삼일매출총이익(손실)
0  281221099000  266957162000  477405839000
1  292105126000  275919787000  459899541000
2  300610837000  300447458000  475729067000
3  308999227000  319074385000  504000780000
4  291912065000  382786512000  559679070000
5   69767330000  474342079000  109649904000
6  324661397000  561502981000  613116585000
7  345342194000           NaN  684750463000

In [96]:
df_merge.to_csv('타회사매출총이익.csv')