In [7]:
import pymysql
import pandas as pd
import csv
from sqlalchemy import create_engine

# 테이블 생성

In [ ]:
db = pymysql.connect(host = 'localhost', port = 3306, user = 'root', db = 'assets', passwd = '0000', charset = 'utf8')
cursor = db.cursor()

sql = """
create table asset_d (
    date varchar(60) not null primary key,
    gold float not null,
    silver float not null,
    oil float not null,
    kospi float not null,
    nasdaq float not null,
    tesla float not null,
    bitcoin float not null
);
"""

cursor.execute(sql)

db.commit()
db.close()

# csv 파일 불러오기

In [9]:
df = pd.read_csv(r'C:\python_workspace\Project\Project3_data_analysis\asset_D.csv', encoding = 'utf-8-sig')
columns = ['date','gold','silver','oil','kospi','nasdaq','tesla','bitcoin'] # table과 동일한 컬럼명 사용.
df.columns = columns

db.close()

# sqlalchemy 사용하여 csv 파일 mysql의 assets database에 저장

In [11]:
engine = create_engine("mysql+pymysql://root:"+"011936"+"@localhost:3306/assets?charset=utf8", encoding="utf-8")
conn = engine.connect()

In [14]:
df.to_sql(name = 'asset_d', con = engine, if_exists = 'append', index = False)
conn.close()

In [17]:
sql = "select * from asset_d limit 1"
pd.read_sql(sql, db)

         date    gold  silver    oil    kospi   nasdaq  tesla  bitcoin
0  2011-01-03  1422.6  31.096  91.55  2070.08  2254.23   5.32      0.3

In [18]:
sql = 'desc asset_d'
pd.read_sql(sql, db)

     Field         Type Null  Key Default Extra
0     date  varchar(60)   NO  PRI    None
1     gold        float   NO         None
2   silver        float   NO         None
3      oil        float   NO         None
4    kospi        float   NO         None
5   nasdaq        float   NO         None
6    tesla        float   NO         None
7  bitcoin        float   NO         None