# 서울시에서 공개한 코로나 19 발생동향 분석

* https://www.seoul.go.kr/coronaV/coronaStatus.do

In [1]:
import pandas as pd

In [2]:
url = 'https://www.seoul.go.kr/coronaV/coronaStatus.do'

In [3]:
table = pd.read_html(url)
len(table)

6

In [4]:
table[2].transpose()

                         0
소계                   23797
해외유입                   788
중구 소재 복지시설 관련           20
강남구 소재 직장3 관련           33
동대문구 소재 현대대중 사우나 관련     33
강동구 가족 관련               22
종로구 소재 빌딩 관련            17
강남구 소재 직장4 관련           13
노원구 소재 요양시설 관련          11
기타 집단 감염              8843
기타 확진자 접촉             7439
타시도 확진자 접촉            1074
감염경로 조사중              5504

In [6]:
table[3]

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []